<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BU<img src="../assets/tenor.gif"width="40px" class="sun"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="margin-left: 500px;" class="nav-link active" aria-current="page" href="#"><i class="bi bi-house"></i>AHABANZA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOTURIBO</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-patch-question"></i>IBIBAZO WIBAZA
          </a>
        
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">BA UMUTERANKUNGA</a>
            
          </li>
      </ul>
     
    </div>
  </div>
</nav>

<img src="../assets/cgirl.jpg" class="bg-img">
<div class=" section1 container">
    
        <div  class="row1 row">

            <div class=" col1 col-sm wi">
             <h1>Byuka Urabagirane</h1>
             <small>“..…kuko nari nshonje mukamfungurira<br>
               nari mfite inyota mumpa icyo kunywa<br>
                nari umushyitsi murancumbikira<br>
                 nari nambaye ubusa muranyambika<br>
                nari ndwaye muransura<br> 
               nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36). </small>
               <a class="btn btn-info text-white mt-5">FIND MORE</a>
              </div>
          
             
      
    
        <div class="col">
          <img src="../assets/giphy-2.gif" class="col2-img">
        </div>
    </div>
 



</div>



<div class="section2 container ">

    <H1  class="text-center mb-5"><img src="../assets/whowere.png" width="120px">ABOTURIBO</H1>
    <P>“BYUKA URABAGIRANE” ni ihuriro ry’abakristukazi baturuka mu madini n’amatorero atandukanye,Rikaba ryaratangiye muri 07/2020. Abo bakristukazi biyemeje kwamamaza inkuru nziza ya Yesu Kristu mu bikorwa byo gutabara no gutabariza abashavuye haba ku mutima no ku mubiri. Ibikorwa byabo bigamije kwita cyane cyane ku bategarugori n’abari bakeneye ubutabazi butandukanye igihe bageze mu ngorane badafite umuntu wo kubitaho (intabwa cg incike). Mu butumwa bwacu tuzibanda ku  byiciro dusanga muri Bibiliya mu magambo Umwami wacu Yezu/Yesu yavuze ubwo yagiraga ati: “..…kuko nari nshonje mukamfungurira, nari mfite inyota mumpa icyo kunywa, nari umushyitsi murancumbikira, nari nambaye ubusa muranyambika, nari ndwaye muransura, nari mu nzu y’imbohe muza kundeba”. (Mt 25: 35-36). </P>
<div class="row">

  <div style="width: 50px;margin-bottom: 100px;" class="col">
    <h3 class="text-center"><img  src="../assets/7373166.png" width="120px">Intego rusange </h3>
    
    <small class="text-center">Intego y’abagize Organization 
      “BYUKA URABAGIRANE” ni uguhumuriza abari n’abategarugori 
      baruhijwe n’ibibazo bitandukanye no kubagarurira icyizere cy’ubuzima.  </small>
  </div>
 
  <div class="row-card row">
      <div class="col1 col-sm">
       
       <img src="../assets/psyc.jpg" class="img1">
       <h1 class="display-2 ">01</h1>
       <p class="text-center">Kwita ku bagore/abakobwa bageze mu ngorane (uburwayi, gufungwa, gutabw
         kubura amahoro y’umutima biturutse ku mpamvu 
         iyo ariyo yose) badafite uwo batabaza;  </p>
      </div>
      <div class="col2 col-sm">
         
         <img src="../assets/psyc.jpg" class="img1">
         <h1 class="display-2 ">02</h1>
         <p class="text-center">Guteganya ahantu hizewe kandi hatekanye hazaba hagenewe kwakira uwaba yifuza uwa
            amatwi ngo amubwire agahinda ke cyangwa akeneye 
            uwamuyobora mu gihe ahuye n’ingorane;</p>
        </div>
        <div class="col3 col-sm">
           
           <img src="../assets/psyc.jpg" class="img1">
           <h1 class="display-2 ">03</h1>
           <p class="text-center">Guhugura buri wese wifuza ubumenyi cyangwa ubwunganizi mu bijyanye n’ubutumwa 
             bwo gutega amatwi umuntu ufite ibibazo.</p>
          </div>

    </div>



</div>

  </div>



<div class="section3 container">

    <div class="row">
<div class="col-sm">

  <h1 class="text-center"><i class="bi bi-people"></i>Turi Umuryango Mugari </h1>
  <img style="margin-left: 3px;border-radius: 5px;box-shadow: 2px 2px 5px;" src="../assets/ub.jpg" width="100%">
  <p class="text-center">Buri wese mu bagize Organization agomba kuba asobanukiwe ko ubutumwa asabwa gusohoza yabuhawe n’uwamuhamagaye (YESU/YEZU KRISTO); bityo inkomoko y’ubushobozi bwose izaturuka  mu kumutega amatwi (isengesho mbere ya byose) no kwemera kumvira 
    (gukora icyo abwiwe n’Imana Yo ubwayo cyangwa ibinyujije mu bamukuriye).</p>
</div>
    <div class="col ">
            <h1 class="text-center"><i class="bi bi-patch-question"></i> Ibibazo Wibaza</h1>
      <div class="collapse-mover">
    
          <p>
             
              <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                   Ninde wakirwa nk’umunyamuryango muri Organization “BYUKA URABAGIRANE”?<i class="  bi bi-chevron-down"></i>
              </button>
           
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                  Umukristokazi wese hatitawe ku idini/itorero abarizwamo uzaba yiyumvamo umuhamagaro wo kwitangira bagenzi be bakeneye ubufasha agera ikirenge mu cya Yesu/Yezu (Phil 2: 3-8). Uwifuza kuba umunyamuryango wa “BYUKA URABAGIRANE” agomba kuba yiteguye gutanga kuruta kwifuza guhabwa.
              </div>
            </div>
      </div>

    </div>
    </div>
    

       

  </div>


  <div class="section5 container">
      <div class="row">
    <div class="col">
    
        <h3 class="text-info">Twandikire</h3>
        <form action="" method="">
        <input type="text"class="form-control" id="name" placeholder="Enter your Full Name">
        <br>
        <input type="email"class="form-control" id="email" placeholder="Enter your Email">
        <br>
        <textarea row="12" class="form-control text-secondary">Comment</textarea>
        
    
        <input type="button"  value="SEND" class="btn btn-info text-white w-50 mt-5">
        </form>
    </div>  
    
    <div class="col">
      <img src="https://i.gifer.com/7SpJ.gif" width="100%" height="100%">
    </div>
    
      </div>
    
    
    </div>
    
    